@media (prefers-color-scheme: dark) {
    body {
        --background: #1a1a1a;
        --primary: #282828;
        --secondary: #3c3c3c;
        --tertiary: #232323;
        --quaternary: #2f2f2f;
        --text : #f0f0f0;
        --linkColour: #ff9505;

    }
}
@media (prefers-color-scheme: light) {
    body {
        --background: #ffffff;
        --primary: #efefef;
        --secondary: #e0e0e0;
        --tertiary: #f4f4f4;
        --quaternary: #dfdfdf;
        --text : #000000;
        --linkColour: #008e8e;
    }
}